.greeting__li {
  padding: 5px 10px 15px;
  position: relative;
  border-bottom: 2px solid var(--border);
}

.greeting__li:hover .subtitle__portfolio{
  color: var(--title-primary);
  -webkit-transition: color 0.4s linear;
       -o-transition: color 0.4s linear;
          transition: color 0.4s linear;
}

.greeting__li:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.4s linear;
          transition: -webkit-transform 0.4s linear;
  -o-transition: transform 0.4s linear;
     transition: transform 0.4s linear;
     transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.greeting__li:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -2px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  -o-transition: transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  border-bottom: 2px solid var(--border-primary);
}
