.header__close {
  background: transparent;
  width: 50px;
  height: 50px;
  border: none;
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .header__close {
    display: none;
  }
}
