.main {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  .main {
   margin-left: 30%;
  }
}

@media screen and (min-width: 720px) {
  .main {
    margin-left: 208px;
  }
}
