.greeting__subtitle {
  margin: 0;
  color: var(--text-primary);
  font-style: normal;
  font-size: clamp(18px, 3vw, 22px);
  white-space: pre-line;
  position: relative;
  margin-right: 20px;
}

.greeting__subtitle:before {
  content: '<p>';
  font-size: 16px;
   font-style: italic;
  color: var(--border);
  position: absolute;
  top: -22px;
  left: 5px;
}

.greeting__subtitle:after {
  content: '</p>';
  font-size: 16px;
   font-style: italic;
  color: var(--border);
  position: absolute;
  bottom: -22px;
  left: 5px;
}

@media screen and (min-width: 480px) {
  .greeting__subtitle::before {
    left: -25px
  }

  .greeting__subtitle:after {
    left: -25px;
  }
}
