.greeting__subtitle {
  margin: 0;
  color: #8d8d8d;
  font-style: normal;
  font-size: 1.5rem;
  white-space: pre-line;
  position: relative;
}

.greeting__subtitle:before {
  content: '<p>';
  font-size: 1rem;
   font-style: italic;
  color: #515152;
  transform: translateX(-1.5em);
  position: absolute;
  top: -1.5em;
  left: 0;
}

.greeting__subtitle:after {
  content: '</p>';
  font-size: 1rem;
   font-style: italic;
  color: #515152;
  transform: translateX(-1.5em);
  position: absolute;
  bottom: -1.5em;
  left: 0;
}
