.skills {
  margin-right: 10px;
  margin-bottom: 150px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -ms-grid-columns: 1fr;
  gap: 5%;
}

@media screen and (min-width: 480px) {
  .skills {
    gap: 3%;
  }
}

@media screen and (min-width: 640px) {
  .skills {
    margin-right: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 6%;
  }
}

@media screen and (min-width: 720px) {
  .skills {
    gap: 4%;
  }
}

@media screen and (min-width: 1280px) {
  .skills {
    height: 100vh;
    margin-right: 0;
    gap: 2%;
  }
}
