.header__link {
  text-decoration: none;
  border: none;
  line-height: 80px;
  transition: color .4s linear;
  position: relative;
  color: #8d8d8d;
  font-style: normal;
  font-size: 24px;
}

.header__link:hover {
  color: #FFD3FF;
  transition: color .4s linear;
}

