.header__link {
  text-decoration: none;
  border: none;
  line-height: 80px;
  -webkit-transition: color 0.4s linear;
       -o-transition: color 0.4s linear;
          transition: color 0.4s linear;
  position: relative;
  color: #8d8d8d;
  font-style: normal;
  font-size: 24px;
}

.header__link:hover {
  color: #ffd3ff;
  -webkit-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  transition: color 0.4s linear;
}
