.greeting__text-cintainer {
  position: relative;
  margin-bottom: 30px;
}

.greeting__text-cintainer:before {
  content: '<h1>';
  font-size: 16px;
  font-style: italic;
  color: #515152;
  position: absolute;
  top: -20px;
  left: 5px;
}

.greeting__text-cintainer:after {
  content: '</h1>';
  font-size: 16px;
  font-style: italic;
  color: #515152;
  position: absolute;
  bottom: -20px;
  left: 5px;
}

@media screen and (min-width: 480px) {
  .greeting__text-cintainer::before {
    left: -25px
  }

  .greeting__text-cintainer:after {
    left: -25px;
  }
}
