.greeting__title_span {
  position: relative;
  margin-bottom: 1.1em;
}

.greeting__title_span:before {
  content: '<h2>';
  font-size: 1rem;
  font-style: italic;
  color: #515152;
  transform: translateX(-1.5em);
  position: absolute;
  top: -1.5em;
  left: 0;
}

.greeting__title_span:after {
  content: '</h2>';
  font-size: 1rem;
  font-style: italic;
  color: #515152;
  transform: translateX(-1.5em);
  position: absolute;
  bottom: -1.5em;
  left: 0;
}
