.greeting__title_span {
  position: relative;
  margin-bottom: 52px;
}

.greeting__title_span:before {
  content: '<h2>';
  font-size: 16px;
  font-style: italic;
  color: #515152;
  position: absolute;
  top: -20px;
  left: 5px;
}

.greeting__title_span:after {
  content: '</h2>';
  font-size: 16px;
  font-style: italic;
  color: #515152;
  position: absolute;
  bottom: -20px;
  left: 5px;
}

@media screen and (min-width: 480px) {
  .greeting__title_span::before {
    left: -25px
  }

  .greeting__title_span:after {
    left: -25px;
  }
}
