.lead__subtitle {
  color: #8d8d8d;
  font-style: normal;
  font-size: 1rem;
}

@keyframes jump {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}

.jump {
  animation: jump 2s linear infinite;
}
