.greeting__letter {
  opacity: 0;
}

.greeting__letter:hover {
  color: #ffd3ff;
}

@-webkit-keyframes loadingLetter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadingLetter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
