.about {
  margin-right: 10px;
  margin-bottom: 150px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2%;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

@media screen and (min-width: 640px) {
  .about {
    margin-right: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 6%;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    height: 100vh;
    gap: 2%;
  }
}
