.project__link_img {
  position: relative;
}

.project__link_img:hover .project__img {
  opacity: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.project__link_img:hover .project__img_hover {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
