.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 80px;
  position: relative;
}

.contact:after {
  content: "</body>";
  font-size: 16px;
  font-style: italic;
  color: #515152;
  position: absolute;
  bottom: -60px;
  left: 5px;
}

@media screen and (min-width: 480px) {
  .contact {
    margin-bottom: 30px;
  }
  .contact:after {
    left: -25px;
  }
}
