.footer {
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2%;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .footer {
   margin-left: 40%;
  }
}

@media screen and (min-width: 640px) {
  .footer {
    margin-right: 20px;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
}

@media screen and (min-width: 720px) {
  .footer {
    margin-left: 278px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    height: 100vh;
    gap: 2%;
  }
}

