.popup__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  max-width: 90%;
}

@media screen and (min-width: 480px) {
  .popup__wrapper {
    max-width: 80%;
  }
}

@media screen and (min-width: 720px) {
  .popup__wrapper {
    max-width: 70%;
  }
}
