.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1%;
  width: calc(100% - 10px);
  position: relative;
  margin: 60px 0 0;
  justify-items: center;
  align-items: center;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
}

.projects:before {
  content: '<section>';
  font-size: 16px;
  font-style: italic;
  color: #515152;
  position: absolute;
  top: -35px;
  left: 5px;
}

.projects:after {
  content: '</section>';
  font-size: 16px;
  font-style: italic;
  color: #515152;
  position: absolute;
  bottom: -7%;
  left: 5px;
}

@media screen and (min-width: 480px) {
  .projects::before {
    left: -25px
  }

  .projects:after {
    left: -25px;
  }
}

@media screen and (min-width: 720px) {
  .projects {
    gap: 1%;
  }

  .projects:after {
    bottom: -6%;
  }
}

@media screen and (min-width: 940px) {
  .projects {
    -ms-grid-columns: 1fr 1fr;
    gap: 3%;
  }

  .projects:after {
    bottom: -10%;
  }

}

@media screen and (min-width: 1200px) {
  .projects {
    -ms-grid-columns: 1fr 1fr 1fr;
  }
}
