.contact__cards {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 2%;
  position: relative;
}

.contact__cards:before {
  content: '<footer>';
  font-size: 16px;
  font-style: italic;
  color: #515152;
  position: absolute;
  top: -35px;
  left: 5px;
}

.contact__cards:after {
  content: '</footer>';
  font-size: 16px;
  font-style: italic;
  color: #515152;
  position: absolute;
  bottom: -35px;
  left: 5px;
}

@media screen and (min-width: 480px) {
  .contact__cards::before {
    left: -25px
  }

  .contact__cards:after {
    left: -25px;
  }
}
